.ship {
  display: flex;
  margin: 10px;
  flex-direction: row;
  gap: 5rem;
  padding: 3rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
  color: #858585;
}

.shipDetailsContainer {
  display: flex;
  align-items: center;
  margin: 30px;
  flex-direction: column;
  gap: 3rem;
  color: #858585;
}

.detailsAndPrice {
  display: flex;
  gap: 5rem;
  width: 100%;
  justify-content: space-between;
}

.shipDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.shipDetails img {
  object-fit: contain;
}

.shipData {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shipData > div {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  list-style-type: none;
  gap: 1.5rem;
  justify-content: space-between;
}

.shipData b {
  flex-shrink: 0;
}


